// *********************

// * Header

// *********************
html{
	margin:0;
	padding:0;
	background-color:rgba(115, 172, 150, .6);
}
header{
	background-color: #065D3C;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	box-shadow: 3px 0px 10px black;
	height:10%;
	margin: 0 auto;
	text-align:center;
	width:50%;
	.header-title, .header-info{
		color:white;
	}
	.header-title{
		padding-top:30px;
	}
}

main{
	background-color:#728DA5;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	box-shadow: 3px 3px 10px black;
	box-sizing:border-box;
	margin:0 auto;
	padding:10px 30px;
	width:50%;
	p{
		color:#000;
		text-align:justify;
	}



}

.sliding-panel{
	background-color:#728DA5;
	border-radius:10px;
	height:0;
	left:-200px;
	opacity:0;
	position:fixed;
	top:15%;
	transition:all 1s ease-in-out;
	visibility:hidden;
	width:20%;
	.sliding-panel-header{
		text-align:center;

	}
	p{
		padding: 0 15px;
		text-align:justify;
	}
	&.is-visible{
		left:10px;
		height:auto;
		opacity:1;
		top:20%;
		visibility:visible;
	}
}

.trigger{
	background-color:rgba(4, 31, 55,.7);
	color:black;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	height:50px;
	font-size:20px;
	left:0;
	position:fixed;
	text-align:center;
	text-decoration:none;
	top:20%;
	vertical-align:middle;
	width:70px;
}


